<a name="pagecontent" id="pagecontent"></a>
<div class="signupform">
<div class="sixteen columns clearfix collection_nav">
  <h2 class="contact_title">{{ 'customer.register.title' | t }}</h2>
</div>

<div class="section clearfix">
  <div class="six columns offset-by-five">
    <div id="customer">
      <!-- Create Customer -->
      <div id="create-customer">

        {% form 'create_customer' %}
        {{ form.errors | default_errors }}

        <div id="name" class="clearfix large_form">
          <!--             <label for="name" class="login">{{ 'customer.register.first_name' | t }}</label> -->
          <input type="text" value="" name="customer[name]" id="name" class="large" size="30"  placeholder="Your Name"/>
        </div>

        <!--           <div id="last_name" class="clearfix large_form">
<label for="last_name" class="login">{{ 'customer.register.last_name' | t }}</label>
<input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
</div> -->

        <div id="email" class="clearfix large_form">
          <!--             <label for="email" class="login">{{ 'customer.register.email' | t }}</label> -->
          <input type="email" value="" name="customer[email]" id="email" class="large" size="30"  placeholder="Your Email"/>
        </div>

        <div id="password" class="clearfix large_form">
          <!--             <label for="password" class="login">{{ 'customer.register.password' | t }}</label> -->
          <input type="password" value="" name="customer[password]" id="password" class="large password" size="30"  placeholder="Create Password" />
        </div>

        {% if section.settings.text %}
        {{ section.settings.text }}
        {% endif %}

        <!--           <div class="acceptsMarketing">
<input type="checkbox" id="customer[accepts_marketing]" name="customer[accepts_marketing]">
<label for="customer[accepts_marketing]">{{ 'customer.register.accepts_marketing' | t }}</label>
</div> -->

        <div class="action_bottom">
          <input class="btn action_button" type="submit" value="{{ 'customer.register.sign_up' | t }}" />
        </div>
        <p class="right">Already Have An Account {{ 'customer.register.sign_in_html' | t | customer_login_link }}</p>
        {% endform %}
      </div><!-- /#create-customer -->
    </div>
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Register",
    "class": "register-section",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
	  {
        "type": "text",
        "id": "login_text",
        "label": "Text"
      }
    ]
  }
{% endschema %}
